<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="notificationPeriod" value="20" />
    <add key="notificationDuration" value="10" />
    <add key="notificationText" value="Stretch Reminder" />
    <add key="notificationBalloonTipText" value="Do a stretch" />
  </appSettings>
</configuration>